# 建模

In [1]:
import pandas as pd
from tools import data_overview

In [2]:
train = pd.read_csv('../input/train_final.csv')
test = pd.read_csv('../input/test_final.csv')

In [5]:
data_overview(test)

,Pclass,SibSp,Parch,FamilySize,FareStandard,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,...,TitleEncoded_Miss,TitleEncoded_Mr,TitleEncoded_Mrs,TitleEncoded_Noble,TitleEncoded_Officer,TitleEncoded_Other,FamilyGroup_Large,FamilyGroup_Small,FamilyGroup_Solo,AgeStandard
0,3,0,0,1,-0.491978,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.354899
1,3,1,0,2,-0.508010,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.278408
2,2,0,0,1,-0.456051,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.386619
3,3,0,0,1,-0.475868,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.199206
4,3,1,1,3,-0.405784,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.568610

,Missing Count,Missing(%),Unique_counts,Unique_values,Dtype
Pclass,0,0.0,3,"[3, 2, 1]",int64
SibSp,0,0.0,7,"[0, 1, 2, 3, 4, 5, 8]",int64
Parch,0,0.0,8,"[0, 1, 3, 2, 4, 6, 5, 9]",int64
FamilySize,0,0.0,9,"[1, 2, 3, 5, 4, 6, 8, 7, 11]",int64
FareStandard,0,0.0,169,Much,float64
Sex_female,0,0.0,2,"[0.0, 1.0]",float64
Sex_male,0,0.0,2,"[1.0, 0.0]",float64
Embarked_C,0,0.0,2,"[0.0, 1.0]",float64
Embarked_Q,0,0.0,2,"[1.0, 0.0]",float64
Embarked_S,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Master,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Miss,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Mr,0,0.0,2,"[1.0, 0.0]",float64
TitleEncoded_Mrs,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Noble,0,0.0,1,[0.0],float64
TitleEncoded_Officer,0,0.0,2,"[0.0, 1.0]",float64
TitleEncoded_Other,0,0.0,2,"[0.0, 1.0]",float64
FamilyGroup_Large,0,0.0,2,"[0.0, 1.0]",float64
FamilyGroup_Small,0,0.0,2,"[0.0, 1.0]",float64
FamilyGroup_Solo,0,0.0,2,"[1.0, 0.0]",float64
AgeStandard,0,0.0,120,Much,float64

Duplicate Rows Count: 35 duplicate rows found